@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --md-dark-color:#1d1d1d;
    --dark-color:#171717;
    --light-color:#292929;
    --yellow-color:#d4aa11;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: 'inter'sans-serif;

}
a{
    text-decoration: none;
}
img{
    width:100% ;
    display: block;
}
.waraper{
    min-height:100vh ;
    background-color: var(--dark-color);
}
.waraper .container{
max-width: 1200px;
margin: 0 auto;
padding: 0 1rem;
}
.search-container{
    background-color: var(--md-dark-color);
    height: 100px;
    display: flex;
    justify-content: center;
}
.logo{
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-color);
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}
.logo p span{
    color:var(--yellow-color);
}
.search-element{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.search-element h3{
align-self:center ;
margin-right:1rem ;
font-size: 2rem;
color: #fff;
font-weight: 500;
margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-color);
    width: 350px;
}
.search-lista{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-lista .search-lista-item{
    background-color: var(--light-color);
    padding: 0.5rem;
    border-bottom: 1px var(--dark-color);
    width: calc(150px - 8px);
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;

}
.search-lista .search-lista-item:hover{
    background-color: #1f1f1f;


}
.search-lista-item{
    display: flex;
    align-items:center
}
.search-item-thumb img{
    width: 48px;
    margin-right: 1rem;
     
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;

}
.search-item-info p{
font-size: 0.8rem;
margin-top: 0.5rem;
font-weight: 600;
opacity: 0.6;
}

.search-lista ::-webkit-scrollbar{
    width: 8px;
}
.search-lista ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgb(0, 0,0, 0.3);
}
.search-lista ::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius:10px ;

}
.hide-search-list{
    display: none;
}
.result-container{
    padding: 3rem 0;
}
.serie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;

}
.serie-info{
    text-align: center;
    color: #fff;
    padding-top: 3rem;

}
.serie-title{
    font-size: 2rem;
    color:  var(--yellow-color);
}
.serie-misc-info{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem ;
}
.serie-info .Ano{
    font-weight: 500;

}
.serie-info .roted{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.serie-info .lancado{
    font-size: 0.9rem;
    opacity: 0.9;
}
.serie-info .escrito{
    padding: 0.5rem;
    margin:1rem 0 ;
}
.serie-info .genero{
    background-color:var(--light-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;

}
.serie-info .plot{
    max-width: 400px;
    margin:1rem auto ;

}
.serie-info .lingua{
    color: var(--yellow-color);
    font-style: italic;

}
@media(max-width:450px){
    .logo p{
        font-size: 1.4rem;
        
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;

    }
    .search-element h3{
        font-size: 1.4rem;

    }
    .search-lista{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }
    .search-lista .search-lista-item{
        width:100% ;

    }
    .serie-misc-info{
        flex-direction: column;

    }
    .serie-misc-info li:nth-child(2){
        margin: 0.8rem 0;


    }
}
@media(min-width:800px){
    .search-element{
        flex-direction: row;

    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .serie-info{
        text-align: left;
        padding-top: 0;
    }
    .serie-info .serie-misc-info{
        justify-content: flex-start;
        padding-left: 0;
    }
    .serie-info .plot{
        margin-left: 0;
    }
    .serie-info .escrito{
        padding-left: 0;
        margin-left: 0;

    }
}


